// Filson W01 Medium
@font-face {
    font-family: 'FilsonPro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:url("../fonts/6147242/d5a3ddc7-1fa1-4ccf-9ee6-5b7a310afa4c.woff2") format("woff2"),url("../fonts/6147242/12f8ce67-442b-462e-a6b6-1516c631a838.woff") format("woff");
}

// Filson W01 Bold
@font-face {
    font-family: 'FilsonPro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:url("../fonts/6147262/a992a792-4d38-4378-8832-b3bdb98abdb1.woff2") format("woff2"),url("../fonts/6147262/bbb0ea08-8e28-4bbc-9726-ee5ca0922351.woff") format("woff");
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui/SegoeUI-Italic.woff2') format('woff2'),
    url('../fonts/segoe-ui/SegoeUI-Italic.woff') format('woff'),
    url('../fonts/segoe-ui/SegoeUI-Italic.ttf') format('truetype'),
    url('../fonts/segoe-ui/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/segoe-ui/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/segoe-ui/SegoeUI-Bold.ttf') format('truetype'),
    url('../fonts/segoe-ui/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui/SegoeUI-BoldItalic.woff2') format('woff2'),
    url('../fonts/segoe-ui/SegoeUI-BoldItalic.woff') format('woff'),
    url('../fonts/segoe-ui/SegoeUI-BoldItalic.ttf') format('truetype'),
    url('../fonts/segoe-ui/SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui/SegoeUI.woff2') format('woff2'),
    url('../fonts/segoe-ui/SegoeUI.woff') format('woff'),
    url('../fonts/segoe-ui/SegoeUI.ttf') format('truetype'),
    url('../fonts/segoe-ui/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

